<div class="jumbotron-wrapper">


  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1></h1>
      </div>
    </div>
  </div>


  <div id="bs-docs-section clearfix">
    <div class="row">
      <div class="col-lg-9">
        <div class="page-header">
          <h1 id="typography">Questions</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9">
        <div class="bs-component">
          <div class="list-group" *ngFor="let question of questions">
            <div class="card border-primary mb-3">
              <div class="card-header">
                <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="question-stat" href="#question-stat">{{question.question}}</a>
              </div>
              <div class="card-body collapse in" id="question-stat">
                <div class="bs-component">
                  <canvas baseChart
                          [datasets]="chartData"
                          [labels]="question.options"
                          [options]="barChartOptions"
                          [legend]="false"
                          [chartType]="barChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="bs-component">
                  <p class="text-muted"><span class="badge badge-info">Created on</span> {{question.createdAt | date: "MMM d, y h:mm:ss a"}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>




</div>