<div class="jumbotron-wrapper">


  <div id="bs-docs-section clearfix">
    <div class="row">
      <div class="col-lg-9">
        <div class="page-header">
          <h1>Members</h1>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-3">
              <a href="#"><img src="{{user.imgurl}}" class="member-image"></a>
            </div>
            <div class="col-md-9 col-9">
              <div class="row">
                <h4>&nbsp;{{user.name}}</h4>
              </div>
              <div class="row">
                <!--<i class="fa fa-clock-o"></i><small>&nbsp;{{question.createdAt | date: "MMM d, y h:mm:ss a"}}</small>-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

