<div class="jumbotron-wrapper">

  <div class="jumbotron">
    <div id="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-9">
          <div class="page-header">
            <h1>{{question.question}}</h1>
          </div>
        </div>
      </div>

      <div class="bs-component" *ngIf="question.notified">
        <div class="row">
          <div class="col-lg-9">
            <div class="bs-component">
              <p class="text-muted">
                <a><img src="{{submitter.imgurl}}" class="profile-image">&nbsp;{{submitter.name}}</a><br/>
                <small><span class="badge badge-info">Created on</span><i>&nbsp;{{question.createdAt | date: "MMM d, y h:mm:ss a"}}</i></small>
              </p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card border-danger mb-3" style="max-width: 20rem;">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-3">
                    <i class="fa fa-check-circle fa-2x"></i>
                  </div>
                  <div class="col-md-9 text-right">
                    <div class="huge">{{totalresponded}}</div>
                    <div>Responded</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-success mb-3" style="max-width: 20rem;">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-3">
                    <i class="fa fa-users fa-2x"></i>
                  </div>
                  <div class="col-md-9 text-right">
                    <div class="huge">{{totalmembers}}</div>
                    <div>Total Members</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-info mb-3" style="max-width: 20rem;">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-3">
                    <i class="fa fa-clock-o fa-2x"></i>
                  </div>
                  <div class="col-md-9 text-right">
                    <div class="huge">{{avgresponse | number: '1.2-2'}}</div>
                    <div>Avg Time</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <canvas baseChart
                    [data]="question.answers"
                    [labels]="question.options"
                    chartType="pie"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

      <div class="bs-component" *ngIf="!question.notified">
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <h4>
                <i class="fa fa-calendar"></i>&nbsp;<span class="badge badge-warning">Scheduled on</span> {{question.schedule | date: "MMM d, y h:mm a"}}
              </h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <h5>Options:</h5>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let option of question.options">
                {{option}}
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <p></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-0.5 col-md-1">
                <a href="#" class="div-hide"><img src="{{submitter.imgurl}}" class="profile-image rounded-circle"></a>
              </div>
              <div class="col-lg-6 col-md-5">
                <div class="row">
                  <i class="fa fa-user"></i><small>&nbsp;<a href="#">{{submitter.name}}</a></small>
                </div>
                <div class="row">
                  <i class="fa fa-clock-o"></i><small>&nbsp;{{question.createdAt | date: "MMM d, y h:mm:ss a"}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pull-right">
          <div class="col-lg-9 ">
            <p><a [routerLink]="['ask/edit', question._id]"><i class="fa fa-edit"></i> Edit</a></p>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>