<div id="wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Pulse Check</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups">Teams</a>
        </li>
      </ul>
      <!--<form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        &lt;!&ndash;<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;
      </form>-->
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-nolink"><b>{{profilename}}</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Logout</a>
        </li>
      </ul>

    </div>
  </nav>

  <div [ngClass]= "'sub-child-container'" class="container">
    <router-outlet></router-outlet>
  </div>


  <div>
    <a routerLink="/ask" class="float-bottom-right">
      <i class="fa fa-plus button-float "></i>
      <!--<ngc-float-button class="button-float" icon="add" direction="bottom" ></ngc-float-button>-->
    </a>
  </div>

</div>

